<h1>Search For a flight</h1>

<%= form_with(url: '/flight1s', method: "get", local: true) do%>
  <%= label_tag(:start_id, "From")%>
  <%= select_tag(:start_id, options_for_select(@airport_options))%>
  &nbsp;&nbsp;
  <%= label_tag(:finish_id, "To")%>
  <%= select_tag(:finish_id, options_for_select(@airport_options))%><br /><br />
  <%= label_tag(:passanger, "Passangers")%>
  <%= select_tag(:passanger, options_for_select([[1,1],[2,2],[3,3],[4,4]]))%><br /><br />
  <%= label_tag(:start_date, "Date")%>
  <%= select_tag(:start_date, options_for_select(@date_options) )%><br /><br />
  <%= submit_tag("Search")%>
<% end %>

<%= form_with(url: '/flights1', method: 'get', local: true)  do%>
  <% if @selected_flights.exists?%>
   <% @selected_flights.each do |flight| %>
     <% flight_formatted = "From #{flight.from_airport.code}, To #{flight.to_airport.code}, Duration #{flight.duration}m" %>
     <%= radio_button_tag("flight", "flight_id", flight.id)%><%= flight_formatted%><br />
   <% end %>
   <% hidden_field_tag(:Passangers, @passangers)%>
   <%= submit_tag("Submit")%>
  <% else %>
   <p>Flight doesnt exist</p>
  <% end %>
<% end %>
